.message {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 40px;
    width: 1000px;
    margin: 0 auto;

}

.imageAndText {
    display: flex;
    padding-left: 6px;
    padding-right: 8px;
    flex-direction: row-reverse;
    text-align: -webkit-right;

}

.imageAndText img {
    width: 50px;
    /*object-fit: cover;*/
    object-position: top;


}

.text {
    flex-direction: row-reverse;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color:dodgerblue;
    color: white;
    border-radius:10px;
    border-end-end-radius: 0px;
    text-align: -webkit-right;
    box-shadow: 5px 4px;

}

.text:after {
  /*padding-left:5px;*/
}

.name {

    flex-direction: row;
    align-items: stretch;
    text-align: -webkit-right;
    padding-bottom: 5px;
    background-color:dodgerblue;
    color: white;

}

.messageText {

    align-items: end;
    overflow-wrap: break-word;
    text-align: -webkit-right;



}

.time {
    position: relative;
    top: 52px;
    left: 288px;
    font-size: small;
    font-weight: bold;
}