.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.text1 {
    font-weight: bold;
    color: black;
    font-size: 14px;
    margin: 0 5px;
}

.text2 {
    font-style: italic;
    color: black;
    font-size: 12px;
    margin: 0 5px;
}

